<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2024 Pradmat
            <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
        </div>
    </div>
</footer>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3937162622623749"
     crossorigin="anonymous"></script>
