<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2024 Pradmat
            <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
        </div>
    </div>
</footer>
<script type="text/javascript" src="https://udbaa.com/bnr.php?section=General&pub=375138&format=300x250&ga=g"></script>
<noscript><a href="https://yllix.com/publishers/375138" target="_blank"><img src="//ylx-aff.advertica-cdn.com/pub/300x250.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" /></a></noscript>
