<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %>
</head>
<body>
    <%- include('../../partials/nav') %>
    <main></main>
    <%- include('../../partials/footer') %>
</body>
</html>